body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    color: #031e96;
    font-weight: bolder;
    text-decoration: none;
}

.cfb-container {
    background-color: #606163;
    height: 100%;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%;
}

.cfb-text-inputs input {
    border: .5px solid white;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px;
    padding: 5px;
    padding: 5px 30px;
    text-align: center;
}

button {
    background-color: #2da318;
    border: .5px solid #2da318;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 10px;
    padding: 8px 30px;
}

.cfb-center-div {
    padding-top: 30vh;
    padding-bottom: 15px;
}